* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  
 
  .header {
    display: flex;
    padding: 10px 5px;
    background-color: #93bb6a;
    align-items: center;
    justify-content: space-between; 
  }
  
  .header__logo {
    max-width: 100%; 
  }
  
  .header__list {
    /*como cambio el color*/
    display: flex;
    list-style: none;
    gap: 20px;
    /*separa las li*/ 
  }
  
  .header__item {
    margin: 0px 12px; 
  }
  .separador{
    height: 5px;
    opacity: 0.25;
  }
  
  .hero {
    display: flex;
    background-image: url(../img/cabinss.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    height: 75%;
    color: wheat; 
  }
  
  .hero__contenedor {
    padding: 10px 5px;
    position: relative;
    border-radius: 10px;
    left: 30px;
    width: 550px;
    color: wheat; 
  }
  
  .btn {
    color: #293b03;
    padding: 12px 8px;
    cursor: pointer;
    background-color: rgba(205, 221, 174, 0.822); 
  }
  
  .cabanas__video {
    width: 100%; 
  }
  
  .cabanas {
    display: flex;
    color: #9b4902;
    background-color: rgba(130, 223, 166, 0.904); 
  }
  
  .cabanas__titulo {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #703a0a; 
  }
  
  .cabanas__parrafo {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5; 
  }
  
  .cabanas__video {
    width: 100%; 
  }
  
  .servicios {
    display: flex;
    color: #9b4902;
    background-color: rgba(93, 161, 119, 0.904); 
  }
  
  .servicios__titulo {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #703a0a; 
  }
  
  .servicios__parrafo {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5; 
  }
  
  .servicios__img {
    width: 100%;
    height: 500px;
    border-radius: 5px;
    margin: auto;
    object-fit: cover;
    max-width: 600px; 
  }
  
  .separador {
    background-color: brown;
    height: 5px;
    border: none; 
  }
  
  .actividades {
    display: flex;
    color: #9b4902;
    background-color: rgba(70, 168, 107, 0.904); 
  }
  
  .actividades__titulo {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #703a0a; 
  }
  
  .actividades__parrafo {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5; 
  }
  
  .actividades__img {
    width: 100%;
    height: 500px;
    border-radius: 5px;
    margin: auto;
    object-fit: cover;
    max-width: 600px; 
  }
  
  .footer {
    display: flex;
    padding: 20px 10px;
    flex-basis: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    list-style: none; 
  }
  
  .footer__nav {
    display: flex; 
  }
  
  .footer__item {
    display: inline-block;
    text-decoration: none;
    margin: 10px 0px; 
  }

  .heroInicio{
    background-image: url(../img/herocabanamoderna.jpg);
}
  

























































.header{
    display: flex;
    padding: 10px 5px;
    background-color: rgb(147, 187, 106);
    align-items: center;
    justify-content: space-between;
}
.header__logo{
    max-width: 100%;
}
.header__list{ /*como cambio el color*/
    display: flex;
    list-style: none;
    gap: 20px; /*separa las li*/ 
}
.header__item{
    margin: 0px 12px;
}
.hero{
    display: flex;
    background-image: url(../img/hehehero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    height: 75%;
    color:wheat
}
.hero__contenedor{
padding: 10px 5px;
position: relative;
border-radius: 10px;
left: 30px;
width: 550px;
color: wheat;
}
.btn{
    color: rgb(41, 59, 3);
    padding: 12px 8px;
    cursor: pointer;
    background-color:rgba(205, 221, 174, 0.822) ;
}
.cabanas__video{
    width:100%
}
.cabanas{
    display: flex;
    color:rgb(155, 73, 2);
    background-color: rgba(130, 223, 166, 0.904);
}
.cabanas__titulo{
    font-family:'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    font-weight:700;
    margin-bottom: 10px;
    color:rgb(112, 58, 10);
}
.cabanas__parrafo{
    font-family:'Open Sans Condensed', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5; 
}
.cabanas__video{
    width: 100%;
}
.servicios{
    display: flex;
    color:rgb(155, 73, 2);
    background-color: rgba(93, 161, 119, 0.904);
}
.servicios__titulo{
    font-family:'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    font-weight:700;
    margin-bottom: 10px;
    color:rgb(112, 58, 10);
}
.servicios__parrafo{
    font-family:'Open Sans Condensed', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5; 
}
.servicios__img{
    width: 100%;
    height: 500px;
    border-radius: 5px;
    margin: auto;
    object-fit: cover;
    max-width: 600px;
    
}
.separador{
   background-color: brown;
   height: 5px;
   border: none;
}
.actividades{
    display: flex;
    color:rgb(155, 73, 2);
    background-color: rgba(70, 168, 107, 0.904);
}
.actividades__titulo{
    font-family:'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    font-weight:700;
    margin-bottom: 10px;
    color:rgb(112, 58, 10);
}
.actividades__parrafo{
    font-family:'Open Sans Condensed', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5; 
}
.actividades__img{
    width: 100%;
    height: 500px;
    border-radius: 5px;
    margin: auto;
    object-fit: cover;
    max-width: 600px;
}
.footer{
    display: flex;
    padding: 20px 10px;
    flex-basis: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.footer__nav{
    display: flex;  
}
.footer__item{
display: inline-block;
text-decoration: none;
margin: 10px 0px;
}