@import "./vars";
.body {
	background-image: linear-gradient(45deg, transparent 20%, rgba(194, 197, 170, 0.26) 25%, transparent 25%), 
					  linear-gradient(-45deg, transparent 20%, rgba(194, 197, 170, 0.144) 25%, transparent 25%), 
					  linear-gradient(-45deg, transparent 75%, rgba(194, 197, 170, 0.151) 80%, transparent 0),
					  radial-gradient(rgba(128, 128, 128, 0.473) 2px, transparent 0);
	background-size: 30px 30px, 30px 30px;
  }
  .nosotros__hero {
   color: rgb(221, 28, 221); 
   font-size: 1rem;
}  
  
.nosotros__contenido {
    padding: 10px 5px;
    position: relative;
    border-radius: 10px;
    left: 30px;
    width: 550px;
    color: rgb(148, 27, 138);
    display:block;
}
.nosotros__texto{
  font-size: 1rem;
}
.nosotros__shop{
  color: rgb(201, 82, 4);
  font-size: 1.20rem;
}

.nosotros__titulo--shop{
    color: $verdeOscuro;
}
    

.nosotrosTienda__texto{
  padding: 10px 5px;
  position: relative;
  border-radius: 10px;
  left: 30px;
  width: 550px;
  color: rgb(201, 82, 4);
  display:block;
  font-size: 1.20rem;
}

