@import "./vars";
.nosotrosHero {
    background-image: url(../../img/familia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90vh;
    color: wheat;
}  
  
.nosotros__texto {
    padding: 10px 5px;
    position: relative;
    border-radius: 10px;
    left: 30px;
    width: 550px;
    color: wheat;
    display:block;
}