@import "./vars";
.titulo-index{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #c42e97; 
}


.actividades {
    @extend:%display;
    color: #9b4902;
    background-color: rgba(70, 168, 107, 0.904);
    &__titulo {
        @extend .titulo-index;
    }
    &__parrafo {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1.5rem;
        line-height: 1.5;
    }
    &__img {
    width: 100%;
    height: 500px;
    border-radius: 5px;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 600px;
  }
}

.titulo-index{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #c42e97; 
}

