@import "./vars";
.cabanas {
    display: flex;
   color: #9b4902;
   background-color: rgba(130, 223, 166, 0.904); 
   &__titulo {
       font-family: 'Open Sans Condensed', sans-serif;
       font-size: $font-size*2;
       font-weight: 700;
       margin-bottom: 10px;
       color: $color-titulo; 
    }
   &__parrafo {
       font-family: 'Open Sans Condensed', sans-serif;
       font-size: $font-size*0.5;
       line-height: $font-size*0.5;
    }
   &__video {
       width: 100%;
    }       
}