@import "./vars";
.cabanasIndex {
   
    color: #9b4902;
    background-color: rgba(130, 223, 166, 0.904);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    color: $verdeMatte;
    font-size: 1.25rem;
   &__titulo {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 10px;     
   }
   &__parrafo {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 1.25rem;
      text-align: justify;    
   }
   &__img {
      border-radius: 15px;
   }       
}
