@import "./vars";
/* esta bien este import del link que me paso cande aca?*/

.separador {
    background-color: rgb(224, 215, 86);
    height: 5px;
    border: none; 
}
.btn {
    color: #0d7a0d;
    font-family: 700;
    padding: 5px 5px;
    cursor: pointer;
    background-color: rgba(193, 221, 138, 0.726); 
}

.titulo-index {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #703a0a;
  }

  .body {
    background-image: linear-gradient(45deg, transparent 20%, rgba(194, 197, 170, 0.26) 25%, transparent 25%), 
              linear-gradient(-45deg, transparent 20%, rgba(194, 197, 170, 0.144) 25%, transparent 25%), 
              linear-gradient(-45deg, transparent 75%, rgba(194, 197, 170, 0.151) 80%, transparent 0),
              radial-gradient(rgba(128, 128, 128, 0.473) 2px, transparent 0);
    background-size: 30px 30px, 30px 30px;
  }

