@import "./vars";
.hero {
    display: flex;
    background-image: url(../img/cabinss.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    height: 75vh;
    color: wheat; 
    font-size: 2.3rem;
    &__contenedor {
        padding: 10px 5px;
        position: relative;
        border-radius: 10px;
        left: 30px;
        width: 550px;
        color: wheat; 
    }
    &__texto{
        margin-top: 1 rem;  
    }
}