@import "./vars";
/*
header
header_logo
header__list
header__item



HERO
hero
hero__contenido
hero__texto
btn-hero MODIFICAR a btn—hero para aplicar mixin y eso

SECTION INDEX
cabanasIndex
cabanasIndex__titulo
cabanasIndex__parrafo
cabanasIndex__list
btn—cabanas AGREGAR
cabanasIndex__img

serviciosIndex
serviciosIndex__titulo
serviciosIndex__parrafo
serviciosIndex__list
btn--servicios AGREGAR


actividadesIndex
actividadesIndex__titulo
actividadesIndex__parrafo
actividadesIndex__list
btn--actividades AGREGAR

FOOTER
footer
footer__logo
footer__list?


*/



/*lo traje de _cabanas*/
.cabanas {
    color: rgb(221, 161, 94);
    background-color: rgba(130, 223, 166, 0.904);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
   &__titulo {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: $font-size*2;
      font-weight: 700;
      margin-bottom: 10px;
      color: $color-titulo; 
   }
   &__parrafo {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 1.5rem;
      color: rgb(27, 67, 50);
   }
   &__video {
      width: 100%;
   }       
}



.actividades {
    @extend:%display;
    color: #9b4902;
    background-color: rgba(70, 168, 107, 0.904);
    &__titulo {
        @extend .titulo-index;
    }
    &__parrafo {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1.5rem;
        line-height: 1.5;
    }
    &__img {
    width: 100%;
    height: 500px;
    border-radius: 5px;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 600px;
  }
}

.titulo-index{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #c42e97; 
}


.servicios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    color: rgb(221, 161, 94);
    background-color: rgba(130, 223, 166, 0.904);
 
    &__titulo {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: $font-size*2;
        font-weight: 700;
        margin-bottom: 10px;
        color: $color-titulo;
    }
    &__parrafo {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1.5rem;
        color: rgb(40, 54, 24) ;
    }  
    &__img {
        width: 100%;
        height: 500px;
        border-radius: 3px;
        margin: auto;
        object-fit: contain;
    }
}



.titulo-index{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #fdebf8;
}
/*@extend: %display; para cabanas, actividades y servicios del index*/

%display{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
} /*esto se copia solo aca???? como se si lo aplico???*/