@import "./vars";

.servicios{
    background-color: rgba(250, 168, 15, 0.63);
    font-size: 1.5rem;
    font-weight: 600;
    color: $ladrillo;
  
  }
  .servicios__titulo{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
  }
  .card{
    background-color: $rosaPiel;
    font-size: 1rem;
    font-family: lato;
   
    border: 2px, dotted, green;
  }
  .card-title{
    text-align: center;
  }
  
  