$font-size: 1rem;
$ladrillo: rgb (142, 65, 46);
$naranja: rgb (186, 111, 77);
$verdeMatte: rgb (104, 114, 89);
$blancoRosa: rgb (244, 236, 226);
$verdeGris: rgb (162, 161, 130);
$verdeOscuro: rgb (51, 61, 41);
$rosaPiel: rgb (230, 206, 188);




